html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #555252;
    margin: 0;
}

            /*  HEADER */

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.hdr{
    padding-top: 48px;
    padding-bottom: 48px;

}
.nav-menu{
    display: block;
}

.wrapper{
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.bigwrapper{
    width: 1600px;
    margin: 0 auto;
}

.logo{
    display: block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: -1px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    float: left;
}

.logo::first-letter{
    color:#1ABC9C;
    font-weight: 800;
}

ul{
    padding: 0;
    margin: 0;
}

.sait-navigation{
    width: 486px;
    height: inherit;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    float: right;
}

.menu-item{
    display: block;
}

.menu-item a{
    display: block;
}

a{
    text-decoration: none;
    color: #000;
}

.sait-navigation a:hover,
.sait-navigation a:focus {
    color: #1ABC9C;
}

.sait-navigation li{
    display: block;
    margin-right: 34px;
    height: inherit;
    float: left;
}

.sait-navigation li:last-child{
    margin-right: 0;
}

/*          /HEADER         */
/*          слайдер         */

.slid-e{
    height: 600px;
    
    /* margin: 0 auto; */
    background-image: url(../img/slide4.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
}

.slider-content{
    position: relative;
    height: 600px;
}

.slider-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    list-style: none;
}

.slider-h2{
    margin: 0;
    padding: 0;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
}
.slider-p{
    margin: 0;
    padding: 0;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.slider-ctrl{
    position: absolute;
    box-sizing: border-box;
    width: 102px;
    height: 102px;
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #fff;
    background: #4F9D8B;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-ctrl-prev{
    left: 0;
    background-image: url(../icons/prev.png);
}

.slider-ctrl-next{
    right: 0;
    background-image: url(../icons/next.png);
}

.slider-ctrl:hover{
    opacity: 0.651;}

/*          конец слайдера          */
 
.m-section{
    padding-top: 102px;
    padding-bottom: 102px;
    background-color: #E9F0FD;
}

.name-section{
    display: block;
    font-size: 38px;
    letter-spacing: -1px;
    color: #515151;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
}

.name-section::after{
    content: "";
    display: block;
    width: 160px;
    margin: 0 auto; 
    border-bottom: 4px solid #1ABC9C;
    margin-top: 24px;
}

.product{
    width: 255px;
    margin-right: 30px;
    height: auto;
    float: left;
    list-style: none;
}

.product:nth-child(4n){
    margin-right: 0;
}

.product:hover{
    box-sizing: content-box;
    background: #737373;
    opacity: 1;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.product-box{
    position: relative;
}

/*начало затемнения карточки при наведении*/
.overley{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 282px;
    opacity: 0;
    top: 0;left: 0;
    border: 10px solid rgba(255, 255, 255, 0.7);
   background-color: rgba(0, 0, 0, 0.549);
   cursor: pointer;
}


.product-list-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
 }

.heart{
    background-image: url(../icons/heart.png);
}

.arrow{background-image: url(../icons/arrows.png);}

.clock{
    background-image: url(../icons/clock.png);
    margin-right: 0;
}

.add-to-cart{
    box-sizing: border-box;
    width: 166px;
    height: 50px;
    border: 1px solid #fff;
    display: block;
    background-color: #000;
    opacity: 1;
}

.heart:hover, .arrow:hover, .clock:hover, .add-to-cart:hover{
    background-color: #1ABC9C;
    border: 1px solid rgb(26, 188, 156);
}

.product-box:hover > .name-product{
    background-color: #1ABC9C;
}

.product-box:hover > .price-product{
    background-color: #7FD9C7;
}

.product-box:hover .overley{
    position: absolute;
    background: #282828;
    opacity: 0.9;
}
.product-list-actions:hover .overley {
    opacity: 1;
}

.product-list-actions .add-to-cart {
    background-position: 10% 50%, 80% 50%;
    background-color: #323232;
    border: 1px solid #fff;
    width: 166px;
}

.overley ul {list-style: none;}
.product-list-actions li{
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
}

.add-to-cart{
    background-image: url(../icons/basket.png),
    url(../icons/add-to-cart.png);
    background-repeat: no-repeat;
}
.add-to-cart:hover{
    border: 1px solid rgb(26, 188, 156);
    background-color: #1ABC9C;
}

.overley a{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
}

/* конец затемнения карточки при наведении*/

.img-box{
    box-sizing: border-box;
    width: 255px;
    height: 282px;
    line-height: 282px;
    margin: 0;
    padding: 0;
    background: #E9F0FD;
}

.name-product{
    box-sizing: border-box;
    width: 205px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #323232;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding-left: 14px;
    line-height: 40px;
    float: left;
}

.price-product{
    width: 50px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #8C8C8C;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    float: right;
}
/*          footer          */

.ftr{
    display: block;
    /* width: 100%; */
    height: 88px;
    margin: 0;
    padding: 36px 0;
    margin: 0 auto;
    background: #323232;
    text-transform: capitalize;
    margin: 0 auto;
}

.ftr-p{
    display: block;
    width: 500px;
    margin: 0 auto;
    
}

.ftr-text{
    display: block;
    color: #dfdfdf;
    font-size: 16px;
    padding: 0 8px;
}

.ftr-text:last-child{
    border-right: none;
}


.t1{
    display: block;
    margin: 0;
    font-size: 16px;
    border-right: 1px solid #fff;
    float: left;
    
}

.t2{
    display: block;
    margin: 0;
    float: left;
}

.ftr-text a{
    display: block;
    color:  #1ABC9C;
    margin-left: 5px;
    float: right;
}


