/* montserrat-300 - latin */
@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 300;
     src: local('Montserrat Light'), local('Montserrat-Light'),
          url('../fonts/montserrat-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* montserrat-regular - latin */
   @font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     src: local('Montserrat Regular'), local('Montserrat-Regular'),
          url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* montserrat-700 - latin */
   @font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     src: local('Montserrat Bold'), local('Montserrat-Bold'),
          url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }

  /* charmonman-regular - latin */
@font-face {
     font-family: 'Charmonman';
     font-style: normal;
     font-weight: 400;
     src: local('Charmonman Regular'), local('Charmonman-Regular'),
          url('../fonts/charmonman-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/charmonman-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
}

   /* charmonman-700 - latin */
   @font-face {
     font-family: 'Charmonman';
     font-style: normal;
     font-weight: 700;
     src: local('Charmonman Bold'), local('Charmonman-Bold'),
          url('../fonts/charmonman-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/charmonman-v1-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/charmonman-v1-latin-700.svg#Charmonman') format('svg'); /*logo*/
}
   
  /* playfair-display-regular - latin */
@font-face {
     font-family: 'Playfair Display';
     font-style: normal;
     font-weight: 400;
     src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
          url('../fonts/playfair-display-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/playfair-display-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* playfair-display-italic - latin */
   @font-face {
     font-family: 'Playfair Display';
     font-style: italic;
     font-weight: 400;
     src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
          url('../fonts/playfair-display-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/playfair-display-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   
 /* roboto-slab-300 - latin */
@font-face {
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 300;
     src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
          url('../fonts/roboto-slab-v7-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/roboto-slab-v7-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* roboto-slab-regular - latin */
   @font-face {
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 400;
     src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
          url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }