*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.hdr{
    min-height: 540px;
    background-image: url(../img/bg-image-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center; 
}

.navigation {
    padding-top: 15px;
    margin-bottom: 28px;
}

.logo{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Montserrat";
    font-weight: bold;
}

.logo a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 110px;
}

.menu-item a{
    display: block;
    text-decoration: none;
    padding: 12px 16px;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    border: 2px solid transparent;
}

.menu-item a:hover{
    border: 2px solid #fff;
    border-radius: 32px;
}

.header-name{
    /* display: block; */
    margin: 0 auto;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
}

.header-name-2{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 8px;
}

.header-name-3{
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 300;
    margin-bottom: 14px;
}

.header-name-4{
    width: 100%;
    height: 40px;
    background: #ff4e50;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    border-radius: 20px;
    padding: 10px 40px;
    border: 2px solid transparent;
}

.header-name-4:hover{
    border: 2px solid #fff;
}

.main-section{
    padding: 66px 0px 50px 0px;
    
}
.name-section{
    font-size: 22px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}

.content-section{
    list-style: none;
    margin-bottom: 30px;
}

/*карточка*/

.partner-photo{
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;
}
.partner-list{
    margin-bottom: 30px;
}
.partner-list:last-child{
    margin-bottom: 0;
}

.partner-list-content{
    position: relative;
    margin-bottom: 30px;
}

.partner-list-content::after {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid #fff;
    border-radius: 50%;
    bottom: 0;
    left: 54%;
}

.partner-list-content.icon-1::after {
    background: #ff4e50;
    background-image: url(../icon/icon-tv.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.partner-list-content.icon-2::after{
    background: #ffa507;
    background-image: url(../icon/icon-chem.png);
    background-position: center;
    background-repeat: no-repeat;
}

.partner-list-content.icon-3::after{
    background: #1cd7ad;
    background-image: url(../icon/icon-coffe.png);
    background-position: center;
    background-repeat: no-repeat;
}

.partner-list-content.icon-4::after{
    background: #4e73db;
    background-image: url(../icon/icon-tel.png);
    background-position: center;
    background-repeat: no-repeat;
}

.partner-name{
    text-transform: capitalize;
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.partner-info{
    font-size: 14px;
    color: #666666;
    font-family: "Roboto";
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}
/*конец карточки*/

.section-button{
    display: block;
    width: 280px;
    height: 40px;
    border: 2px solid #ff4e50;
    font-size: 14px;
    color: #ff4e50;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    background: #fff;
    margin: 0 auto;
}

.section-button:hover{
    border: 2px solid #333;
}